{% extends 'base.html.twig' %}

{% block body %}
      <div class="container my-3 w-75"> 
        <div class="row">
          <div class="col">
            <div class="card">
              <h4 class="card-header">{{ article.titulo }}</h4>              
              <div class="card-body">
                <p class="card-title"><strong>Categoria: </strong>{{ article.categoria }}</p>
                <p class="card-title"><strong>Fecha: </strong>{{ article.fecha|date("d/m/y") }}</p>                
                <p class="card-title"><strong>Medio: </strong>{{ article.medio }}</p>
                <p class="card-text"><a href="{{ article.url }}" target="blank">{{ article.url }}</a></p>
                <div class="card bg-light mb-3" >
                  <div class="card-body">
                    <p class="card-title"><strong>Texto:</strong></p>
                    <p class="card-text">{{ article.texto }}</p>
                    <p class="card-title"><strong>Resumen:</strong></p>
                    <p class="card-text">{{ article.resumen }}</p>
                    <p class="card-title"><strong>Comentario:</strong></p>
                    <p class="card-text">{{ article.comentario }}</p>
                  </div>
                </div>
                <div class="d-flex justify-content-end">
                  <a href="{{ path('editar', {num: article.id}) }}" class="btn btn-primary m-2">Editar</a>
                  <a href="{{ path('borrar', {num: article.id}) }}" class="btn btn-danger m-2">Borrar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block title %}
  {{ article.titulo }}
{% endblock %}

